<div class="col-xxl">
  <div class="card mb-4">
    <div class="card-header d-flex align-items-center justify-content-between">
        <h5 class="mb-0">Add Voituree</h5>
    </div>
    <div class="card-body">
      <form #f="ngForm" (ngSubmit)="AddVoituree(f)">
        <div class="row mb-3">
          <label class="col-sm-2 col-form-label" for="name" >name</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" name="name" id="code" placeholder="name"  ngModel />
          </div>
        </div>
        <div class="row mb-3">
          <label class="col-sm-2 col-form-label" for="description">description</label>
          <div class="col-sm-10">
            <div class="input-group input-group-merge">
              <input
                type="text"
                id="description"
                name="description"
                class="form-control"
                placeholder="description"
                ngModel
              />
            </div>
          </div>
        </div>
        <div class="row mb-3">
          <label class="col-sm-2 col-form-label" for="typeinj">Type Injection</label>
          <div class="col-sm-10">
            <input
              type="text"
              class="form-control"
              id="typeinj"
              name="typeinj"
              placeholder="typeinj"
              ngModel
            />
          </div>
        </div>
        
        <div class="row justify-content-end">
          <div class="col-sm-10">
            <button type="submit" class="btn btn-primary">Send</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
